.Cart-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 960px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.Cart-empty {
  display: flex;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.Cart-list {
  margin: 70px 0 70px 0;
}

.Cart-total {
  display: flex;
  height: 70px;
  font-weight: 700;
  font-family: Arial;
  font-size: 18px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 112px;
}

.Cart-total-sum {
  display: flex;
  min-width: 100px;
  justify-content: flex-end;
}
