.Item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: Arial;
  padding: 20px 0;
}

.Item-code {
  margin-left: 20px;
}

.Item-title {
  flex: 1;
  margin-left: 20px;
}

.Item-price {
  font-size: 18px;
}

.Item-price:after {
  content: "\20BD";
}

.Item-count {
  display: flex;
  width: 100px;
  justify-content: flex-end;
  font-size: 18px;
}

.Item-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0 20px 0 24px;
}
